.navbar-brand {
  font-weight: bold;
}

#about-me {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #c6e0f7;
  text-align: center;
}

#skills {
  padding-bottom: 100px;

}

#skills,
#projects {
  padding-top: 100px;
}

#projects {
  background-color: #c6e0f75c;
  padding-bottom: 70px;
}

.project-image {
  border-radius: 15px;
  cursor: pointer;
}

.skill {
  width: 115px;
  height: 115px;
  box-shadow: rgba(109, 109, 109, 0.3) 2px 2px 4px 2px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skill-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.back-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 1em;
  height: 1em;
  font-size: 35px;
  text-decoration: none;
  color: black;
}

.back-to-top:hover {
  color: #424649;
  cursor: pointer;
}

.about-me-name {
  font-size: 3.6em;
  font-weight: 700;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.project-title {
  font-weight: bold;
  text-align: center;
}

.nav-link {
  font-weight: bold;
}

.navbar-brand {
  font-size: 1.5em;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.project h3 {
  text-align: center;
  font-weight: bold;
}

.skills-container {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 15px;
  height: 350px;
  width: 400px;
  box-shadow: 1px 1px 5px rgba(1, 1, 1, 0.30);
}

.project-container {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  border: 1px solid #92979ea3;
}

.project-inner-container {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.project-content {
  min-width: 250px;
  margin-top: 1rem;
  text-align: center;
}

.nav-link {
  width: max-content;
  font-size: large;
}

.skill-icon {
  width: 30px;
  height: 30px;
}

.source-code-btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 12px;
  height: 100%;
}

.source-code-btn-icon {
  width: 30px;
  height: 30px;
}

.project-btn {
  height: 50px;
  width: 10rem;
  padding: 0px;
}

.nav-icon {
  width: 25px;
  display: flex;
}

hr {
  margin: 0.5rem;
}

ul {
  text-align: start;
}

.btn-outline-dark:hover {
  background-color: #212529;

}

.project-btns {
  display: flex;
  flex-flow: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.github-light-icon {
  display: none;
}

.source-code-btn:hover .github-light-icon {
  display: block;
}

.source-code-btn:hover .github-dark-icon {
  display: none;
}

a {
  text-decoration: none;
}